\documentclass[10pt,a4paper,sans]{moderncv}
% Compile with LuaLaTeX (fontspec). moderncv loads fontenc/inputenc handling and
% its FontAwesome social icons itself, so we only set fonts + style/color here.
\moderncvstyle{banking}
\moderncvcolor{grey}
\usepackage[hscale=0.8,top=1.9cm, bottom=1.9cm]{geometry}
\usepackage{fontspec}
\setsansfont{TeX Gyre Heros}
\setmainfont{TeX Gyre Heros}
\renewcommand{\familydefault}{\sfdefault}
\usepackage{multicol}
\usepackage[unicode,pdfpagelabels=false]{hyperref}
\definecolor{airforceblue}{rgb}{0.36, 0.54, 0.66}
\hypersetup{colorlinks=true, linkcolor=airforceblue, urlcolor=airforceblue}
\nopagenumbers{}
\firstname{ {{- esc .Contact.Firstname -}} }
\familyname{ {{- esc .Contact.Lastname -}} }
\title{ {{- esc .Contact.Title -}} }
\address{ {{- esc .Contact.Location -}} }{}
\begin{document}
\makecvtitle
\begin{center}\small{} {{ range $i, $c := contact . }}{{ if eq $i 2 }}\\{{ else if $i }} \textbar{} {{ end }}{{ esc $c }}{{ end }}\end{center}

\section{\textbf{Professional Summary}}
\cvitem{}{ {{- emph .Summary -}} }

\section{Experience}
{{ range .Experience }}\cventry
  { {{- esc .Start }}{{ if .End }}--{{ esc .End }}{{ end -}} }
  {\textbf{ {{- esc .Role -}} }}
  {\textsc{ {{- if .OrgURL }}\href{ {{- esc .OrgURL -}} }{ {{- esc .Org -}} }{{ else }}{{ esc .Org }}{{ end -}} }}
  { {{- esc .Location -}} }
  { {{- esc .Mode -}} }
  {
{{- if .Intro }}
{{ emph .Intro }}
{{- end }}
{{- if .Bullets }}
\begin{itemize}
{{- range .Bullets }}
  \item {{ emph . }}
{{- end }}
\end{itemize}
{{- end }}
}
{{ end }}
\section{Education}
{{ range .Education }}\cventry
  { {{- esc .Start }}{{ if .End }}--{{ esc .End }}{{ end -}} }
  { {{- if .URL }}\href{ {{- esc .URL -}} }{ {{- esc .Role -}} }{{ else }}{{ esc .Role }}{{ end -}} }
  { {{- esc .Org -}} }
  { {{- esc .Location -}} }
  {}
  { {{- if .Note }}\textit{ {{- emph .Note -}} }{{ end -}} }
{{ end }}
\section{Skills}
{{ range .Skills }}\cvitem{ {{- esc .Category -}} }{ {{- range $i, $it := .Items }}{{ if $i }}, {{ end }}{{ esc $it }}{{ end -}} }
{{ end }}
\section{Languages}
{{ range .Languages }}\cvitem{ {{- esc .Name -}} }{ {{- esc .Level -}} }
{{ end }}
\section{Certificates \& Awards}
{{ range .Certificates }}\cventry
  { {{- esc .Start }}{{ if .End }}--{{ esc .End }}{{ end -}} }
  { {{- if .CertURL }}\href{ {{- esc .CertURL -}} }{ {{- esc .Title -}} }{{ else }}{{ esc .Title }}{{ end -}} }
  { {{- if .OrgURL }}\href{ {{- esc .OrgURL -}} }{ {{- esc .Org -}} }{{ else }}{{ esc .Org }}{{ end -}} }
  { {{- esc .Location -}} }
  {}
  {}
{{ end }}
{{- if .Activities }}\section{Activities}
{{ range .Activities }}\cventry
  { {{- esc .Start }}{{ if .End }}--{{ esc .End }}{{ end -}} }
  { {{- esc .Role -}} }
  { {{- esc .Org -}} }
  { {{- esc .Location -}} }
  {}
  { {{- emph .Intro -}} }
{{ end }}{{ end }}
\end{document}
